@import "compass"
@import "blueprint"

$font-color:         #2a2a2a
$link-color:         #0388a6
$link-hover-color:   #009ce0
$link-focus-color:   $link-color
$link-active-color:  $link-color
$link-visited-color: $link-color

$blueprint-font-family:  'Century Gothic', 'Apple Gothic', 'Helvetica Neue', arial, sans-serif
$blueprint-font-size:    13px
$blueprint-grid-columns: 12
$blueprint-grid-width:   60px
$blueprint-grid-margin:  20px

+global-reset
+blueprint-typography

body
  +blueprint(true)
a
  +link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color)

body ul
  +no-bullets
  padding: 0
  margin: 0
  
body li
  padding: 0
  margin: 0
  
ul.links
  +horizontal-list
  li 
    padding: 0
    margin: 0

#container
  +container
  // +grid-background($blueprint-grid-columns, $blueprint-grid-width, $blueprint-grid-margin)

header
  +column(24, true)  
  img
    width: 950px
    margin-top: -424px

section
  padding-bottom: 40px

  .content 
    padding-top: 1.5em
    li
      display: none
      &.active
        display: block
  
// ==  Places ==
section.places
  +column(7)
  // border: 1px dashed gray
  height: 500px
  
  .links li
    padding: 10px
    border: 1px solid black
    font-size: 115%
    a
      text-decoration: none
      color: black

    &.active
      background: black
      a
        color: white

      
// == People ==
section.people
  +column(5, true)
  // border: 1px dashed gray
  height: 400px
  
  .links li
    +column(1)
    width: 60px
  .links li.last
    +column(1, true)
    
    
// == Registered ==
section.registered
  clear: both
  
  img
    width: $blueprint-grid-width
    margin-right: $blueprint-grid-margin

  .crate
    position: relative
    top: 25px
  .macys
    position: relative
    top: 3px
  
    
  
    