@import "compass"
@import "blueprint"

$font-color:         #2a2a2a
$link-color:         #0388a6
$link-hover-color:   #009ce0
$link-focus-color:   $link-color
$link-active-color:  $link-color
$link-visited-color: $link-color

$blueprint-font-family:  'Century Gothic', 'Apple Gothic', 'Helvetica Neue', arial, sans-serif
$blueprint-font-size:    13px
$blueprint-grid-columns: 12
$blueprint-grid-width:   60px
$blueprint-grid-margin:  20px

+global-reset
+blueprint-typography

body
  +blueprint(true)

a
  +link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color)

ul
  +no-bullets

#container
  +container
  // +grid-background($blueprint-grid-columns, $blueprint-grid-width, $blueprint-grid-margin)
    
#main
  // padding: 50px
  // text-align: center
  
header
  +column(24)
  
  img
    width: 950px
    margin-top: -420px

ul.links
  +horizontal-list


section.places
  +column(7)
  border: 1px dashed gray

section.people
  +column(5, true)
  border: 1px dashed gray
    
section.registered
  clear: both
  
  img
    width: $blueprint-grid-width
    margin-right: $blueprint-grid-margin
    
    
    
// 
// img
//   float: left
//   margin-right: 3em
//   
// ul,ol
//   list-style-type: none
// 
// nav li
//   float: left
//   border: 1px solid black
//   margin: 0 20px
//   padding: .5em .9em
//   
// body
//   // background: #E3D8CD
// 
// header
//   width: 1024px
//   margin: 40px auto
//   
// header a
//   color: black
//   text-decoration: none
//   