%section.people
  %ul.links
    %li
      %a
        %img{:src => ''}
    %li
      %a
        %img{:src => ''}
  
  %ul.content
    %li#ali
      %h3 Alli Euson, Maid of honor
      %p
        I am Carolyn's younger (and only) 23 year-old sister. I also graduated from the U of MN, and currently live in Austin, TX
        working for General Mills. My best memories with Carolyn include our bike rides, trips to Spain and Mexico, homemade
        dinners, beer tastings, and just hanging out with Lily and the family on Sundays.

    %li#kristina
      %h3 Kristina Redgrave
      %p
        Kristina and I have known each other for almost 20 years. We first met when we were both living in Kentucky and were
        reunited at the skating rink in Minnesota -- we have been friends ever since! We have spent hours together forming our own
        nonprofit, going on adventures, cooking and eating new recipes, and as children reenacting American Girl Doll plays.      
        
    %li#kristina
      %h3 Kristina Redgrave
      %p
        Kathryn and Carolyn first met almost 15 years ago in 7th grade while taking downhill skiing lessons. At the time, Kathryn
        loved Carolyn's silliness and confidence and they became fast friends! Since then, they have grown even closer with many
        sleep overs, cooking lessons, ladies' nights, and travels punctuating their friendship. Kathryn can't wait for Carolyn and
        Mike's big day!