%section.places
  %ul.links
    %li 
      %a Ceremony
    %li 
      %a Reception
    %li 
      %a Rehearsal Dinner
    %li 
      %a Accommodations
      
  %ul.content
    %li
      %h3 Ceremony
      %p
        The ceremony will take place at the church
        blah blah
        insert image of church
        insert link to directions

    %li
      %h3 Reception
      %p
        The reception will take place at <b>calhoun beach club</b>

    %li
      %h3 Rehearsal Dinner
      %p
        The reception will take place at pinstripes

    %li
      %h3 Reception
      %p
        Rooms have been reserved at the westin.
        Use this link to register.
