%section.places
  / %h2 Locations
  %ul.links
    %li.active
      %a{:href => '#ceremony'} Ceremony
    %li 
      %a{:href => '#reception'} Reception
    %li 
      %a{:href => '#rehearsal'} Rehearsal Dinner
    %li 
      %a{:href => '#accommodations'} Accommodations
      
  %ul.content
    %li#ceremony.active
      %p
        The ceremony will take place at <strong>Lake of the Isles Lutheran Church</strong>
      = image_tag 'church.jpeg'
      %p 
        The church is located at
        %a.address{:target => 'blank', :href => "http://maps.google.com/maps?hl=en&ie=UTF8&q=like+of+the+isles+lutheran&fb=1&gl=us&hq=like+of+the+isles+lutheran&hnear=0x52b333909377bbbd:0x939fc9842f7aee07,Minneapolis,+MN&cid=0,0,11548173723552627775&ll=44.962126,-93.305147&spn=0.008761,0.01929&z=16"}
          2020 West Lake of the Isles Parkway, Minneapolis, MN.
      %p
        There will be plenty of off street parking on West Lake Street as well as 21st Street and Newton Ave S.
      %p
        Rich Phenow will be officiating.

    %li#reception
      %p
        The reception will take place at the <strong>Calhoun Beach Club</strong>
      = image_tag 'calhoun.jpeg'
      %p
        Located at
        %a.address{:target => 'blank', :href => 'http://maps.google.com/maps?um=1&ie=UTF-8&q=calhoun+beach+club&fb=1&gl=us&hq=calhoun+beach+club&hnear=0x52b333909377bbbd:0x939fc9842f7aee07,Minneapolis,+MN&cid=0,0,14486048597914593360&ei=C_zaTfq3MILq0gHtpOH8Aw&sa=X&oi=local_result&ct=image&resnum=4&ved=0CEoQnwIwAw'}
          2925 Dean Parkway, Minneapolis, MN
      %p
        Complimentary Valet parking will be available at the entrance.
        
    %li#rehearsal
      %p
        The rehearsal dinner will take place at <strong><a href="http://www.pinstripes.com/index.html">Pinstripes<a/></strong>.
      = image_tag 'pinstripes.jpeg'
      %p
        Located at
        %a.address{:target => 'blank', :href => 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=pinstripes&aq=&sll=44.951269,-93.31388&sspn=0.007714,0.01929&gl=us&ie=UTF8&hq=pinstripes&hnear=&ll=44.910359,-93.320618&spn=0.129596,0.308647&z=12&iwloc=A'}
          3849 Gallagher Drive, Edina, MN
      %p
        Additional details for those attending will be sent in a formal invitation.
        
    %li#accommodations
      %p
        Friends and family can stay at the <strong><a href="http://www.starwoodhotels.com/westin/property/overview/index.html?propertyID=1799">Westin</a></strong> in Edina.
      = image_tag 'westin.jpeg'
      %p
        Located at 
        %a.address{:target => 'blank', :href => 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=westin+edina&aq=&sll=44.878255,-93.322699&sspn=0.007724,0.01929&gl=us&ie=UTF8&hq=westin+edina&hnear=&ll=44.878255,-93.322699&spn=0.007724,0.01929&z=16&iwloc=A'}
          3201 Galleria, Edina, MN
      %p
        You can reserve a room at our group rate of $119
        <a href="http://www.starwoodmeeting.com/Book/FRAWLEYEUSON" target="blank"> here</a>, by clicking the <em>Book Now</em> button
        (Note, this link doesn't work in Chrome).  Please book your room by x/xx to get the group rate.
      %p
        Shuttle transportation will be provided from the Westin to the Ceremony and Reception. 
        Transportation will also leave from the Reception back to the Hotel two times throughout the evening.
      