%section.registered
  %h2 Registry
  %p
    We are registered at

    %a.crate{:target => '_blank', :href => 'http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4718512'}= image_tag "crate_and_barrel.gif"
    %a.macys{:target => '_blank', :href => 'http://www1.macys.com/registry/wedding/guest/?registryId=466480'}= image_tag "macys.png"
    %a.target{:target => '_blank', :href => 'http://www.target.com/RegistryGiftGiverCmd?isPreview=false&status=completePageLink&listId=8GoMRzoUspbJy0gjaqYAJw&registryType=WD&isAjax=false'}= image_tag "target.gif"
