%section.registered
  %h2 Registry
  %p
    We are registered at

    %a.crate{:href => 'http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4718512'}= image_tag "crate_and_barrel.gif"
    %a.macys{:href => 'http://www1.macys.com/registry/wedding/guest/?registryId=466480'}= image_tag "macys.png"
    %a.target{:href => 'http://www.target.com/registry/wedding/013399700666319'}= image_tag "target.gif"
