%section.registered
  We are registered at

  %a.crate{:href => 'http://crateandbarel.com'}= image_tag "crate_and_barrel.gif"
  %a.macys{:href => 'http://macys.com'}= image_tag "macys.png"
  %a.target{:href => 'http://target.com'}= image_tag "target.gif"
  /
    <a href="#">Target</a>,
    <a href="#">Crate & Barrel</a>, and
    <a href="#">Macy's</a>.
