%section.registered
  We are registered at
  /
    = image_tag "crate_and_barrel.gif"
    = image_tag "macys.jpg"
    = image_tag "target.jpg"
  
  <a href="#">Target</a>,
  <a href="#">Crate & Barrel</a>, and
  <a href="#">Macy's</a>.
